section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* This creates two equal-width columns */
    gap: 20px; /* This adds some space between the columns */
}

.about-content, .about-image {
    width: 100%; /* This makes each item take up the full width of its column */
}

.about-image img {
    height: 800px; /* Adjust to desired height */
    width: auto; /* This will maintain the aspect ratio */
    max-width: 100%; /* Max width is the width of the container */
    border-radius: 5px;
}


#contact {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#contact a {
    color: #fff;
}

#contact a:hover {
    text-decoration: underline;
}
